numpy
PyQt5
vispy
opencv-python
scipy
open3d
pytransform3d
numba
pymap2d
Cython
roboticstoolbox-python
scikit-image
auto-sklearn
h5py
plotly
lightning
kaleido
trimesh
pyembree
empy
lark

torch>=1.1
torchvision>=0.3
tqdm>=4.36.0
matplotlib
pycolmap>=0.3.0
kornia>=0.6.7
gdown

tensorboard